.op-wrapper {
  width: 100vw;
  height: 100vh;
  background: url(../../assets/background.svg);
  justify-content: space-between;
  background-size: contain;
}
.op-wrapper h2 {
  text-align: center;
  font-size: 2vw;
  font-weight: 500;
}

.op-wrapper .read-more {
  margin-bottom: 2%;
  font-size: 1.5vw;
}

.op-feedback {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
}

.op-status {
  margin-top: 10%;
}
