.bi-wrapper {
  justify-content: center;
  align-items: center;
  padding-bottom: 4%;
}

.bi-wrapper img {
  height: 4vh;
  width: auto;
}

.bi-wrapper h1 {
  font-size: 5vw;
  margin: 0;
}

.bi-wrapper h2 {
  font-size: 2.5vw;
  font-weight: 400;
  margin-bottom: 2%;
}
