.status-wrapper {
  width: 70vw;
  height: 50vh;
  background: rgba(22, 22, 22, 0.55);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  backdrop-filter: blur(2px);
  margin-top: 2%;
}

.status-wrapper h1 {
  font-weight: 700;
  font-size: 6vw;
  margin-top: 2%;
  margin-bottom: 5%;
}

.status-wrapper h2 {
  font-weight: 600;
  margin: 0;
}
